<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495262607063-opud4ottbiue85idikge6o0fkjnpli04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495262607063-opud4ottbiue85idikge6o0fkjnpli04</string>
	<key>API_KEY</key>
	<string>AIzaSyCpr3XEidP921wLTWmFDo641BU_cjn6su0</string>
	<key>GCM_SENDER_ID</key>
	<string>495262607063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sezerturkdal.DovizTakip</string>
	<key>PROJECT_ID</key>
	<string>dovizoyunu</string>
	<key>STORAGE_BUCKET</key>
	<string>dovizoyunu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495262607063:ios:675cb78919aaf302f03292</string>
	<key>DATABASE_URL</key>
	<string>https://dovizoyunu-default-rtdb.firebaseio.com</string>
</dict>
</plist>